

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: sans-serif;
}

.container {
    /* border: 1px solid red; */
    width: 70%;
    height: 75%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    /* border: 1px solid red; */

    font-size: 4em;
    font-weight: 700;

    font-size: 4em;

    margin-bottom: 1em;
}

.logo > h1 {
    font-weight: bolder;
}

.search-bar {
    
    width: 100%;
    height: 2.5em;

    display: flex;
    justify-content: space-around;
    flex: wrap;
    align-items: center;
}

#search-box {
    width: 70%;
    height: 100%;

    border: 2px solid #0D0D0D;
    outline: none;
    border-radius: 16px;

    color: #404040;

    padding: 10px;

    font-size: 1.5em;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#search-box::placeholder {
    text-align: center;
}
   

#search-btn {
    width: 25%;
    height: 100%;

    border:  none;
    border: 2px solid #0D0D0D;
    border-radius: 16px;

    background-color: #10734F;
    color: #D9D9D9;

    font-size: 1.5em;
    font-weight: 600;

    cursor: pointer;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#search-btn:hover {
    filter: brightness(0.9);
}

.result {
    /* border: 3px solid #0D0D0D; */
    border-radius: 8px;

    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    flex-direction: row;

    padding: 1em;
    margin-top: 3em;
    background-color: #404040;
    color: #D9D9D9;

}

#avatar {
    width: 30%;
    height: 100%;

    border-radius: 8px;
}

.description {
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    text-align: start;

    padding: 2em;
    padding-top: 0;

    /* border: 1px solid red; */
}

#blind-msg {
    text-align: center;

    margin-top: 1.5em;
}

.description > #login {

    margin-bottom: 0.2em;
    font-size: 2em;
    color: #10734F;
}

.description > #name, #id, #bio, #repos, #followers {
    font-size: 1.5em;
    margin-top: 0.2em;
}

#name {
    font-weight: 500;
}

#id {
    font-weight: 700;
}

#bio, #id {
    /* border: 1px solid red; */
    font-size: 1em;
}
